body{
    font-family: Arial, Helvetica; /* basicas del body */
    background:#FFA500;


}

.cali{
    list-style: none;
    padding: 0;
    background:#092327 ;
    width: 90%;
    max-width: 1000px;
    margin:auto ; 

}


.cali li a{
    text-decoration: none; /* decoraciones*/
    color: white;
    padding: 20px;
    display: block;
}

.cali li{
    display: inline-block;
    text-align: center;
}

.cali li a:hover{
    background:#ef8354;
}


.Am{
    background-color:#AFEEEE ;/* LINEA VERTICAL*/
}